name: Lint and Format
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'website/**'
      - '.github/**'
      - '.vscode/**'
      - 'packages/**/.vscode/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        uses: ./.github/actions/build

      - name: Verify change files
        uses: ./.github/actions/call-rush
        with:
          command: 'change --verify'

      - name: Check linting
        uses: ./.github/actions/call-rush
        with:
          command: 'lint:check -v'
